---

- name: install dev package
  apt: name=python-dev state=present
  
- name: install common packages
  pip: name="{{ item }}" state=present
  with_items:
  - ipython
  - ipdb
  - "pip>=1.5,<2.0"
  - cython

- name: create pip dirs
  file: "path=~{{ item.name }}/.pip owner={{ item.name }} group={{ item.name }} mode=0700 state=directory"
  with_flattened:
    - users
    - [{name: root}]

- name: create pip confs
  template: "src=pip.conf.j2 dest=~{{ item.name }}/.pip/pip.conf owner={{ item.name }} group={{ item.name }} mode=600"
  with_flattened:
    - users
    - [{name: root}]

- name: create distutils confs
  template: "src=pydistutils.cfg.j2 dest=~{{ item.name }}/.pydistutils.cfg owner={{ item.name }} group={{ item.name }} mode=600"
  with_flattened:
    - users
    - [{name: root}]
